body {
    margin: 0;
    font-family: 'Marcellus', serif;
    background-color: #0b0b0b;
    color: white;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    width: 100%;
    background-color: rgba(20,0,0,0.95);
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    z-index: 1000;
}

.logo {
    color: gold;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    letter-spacing: 3px;
}

.menu a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.btn-nav {
    background-color: #5c0000;
    padding: 8px 15px;
    border: 1px solid gold;
    color: gold;
}

.hero-banner {
    height: 100vh;
    background: 
    linear-gradient(rgba(0,0,0,0.75), rgba(40,0,0,0.85)),
    url('https://images.unsplash.com/photo-1544025162-d76694265947?q=80&w=1920&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-overlay {
    max-width: 800px;
}

.hero-overlay h1 {
    font-family: 'Playfair Display', serif;
    font-size: 75px;
    color: gold;
    margin-bottom: 10px;
}

.hero-overlay h2 {
    font-size: 45px;
    color: #b30000;
    margin-bottom: 20px;
}

.hero-overlay p {
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.btn-principal {
    padding: 18px 40px;
    background-color: #5c0000;
    color: gold;
    border: 2px solid gold;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s ease;
}

.btn-principal:hover {
    background-color: gold;
    color: #5c0000;
}
.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    color: gold;
}

.hero-content h2 {
    font-size: 40px;
    color: #8B0000;
}

.btn-principal {
    padding: 15px 35px;
    background-color: #5c0000;
    color: gold;
    border: 2px solid gold;
    text-decoration: none;
}

.section {
    padding: 100px 20px;
    text-align: center;
}

.titulo {
    font-family: 'Playfair Display', serif;
    color: gold;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.card {
    background-color: #120000;
    width: 300px;
    border: 1px solid gold;
    overflow: hidden;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    color: gold;
}

.card button {
    background-color: #5c0000;
    color: gold;
    border: 1px solid gold;
    padding: 10px 20px;
}

.info {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
    padding: 0 15px;
    font-size: 14px;
    color: #ddd;
}

.vinho {
    background-color: #1a0000;
}

.doceria-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.doceria-content img {
    width: 400px;
    border: 2px solid gold;
}

footer {
    padding: 40px;
    border-top: 1px solid gold;
    text-align: center;
}

