body {
    margin: 0;
    font-family: 'Marcellus', serif;
    background-color: #0b0b0b;
    color: white;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #2b0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-img {
    height: 50px;
}

.logo-text {
    font-family: 'Playfair Display', serif;
    color: gold;
    font-size: 22px;
    letter-spacing: 2px;
}

.menu a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.btn-nav {
    background-color: #5c0000;
    padding: 8px 15px;
    border: 1px solid gold;
    color: gold;
}

.hero {
    height: 100vh;
    background:
    linear-gradient(rgba(0,0,0,0.7), rgba(40,0,0,0.8)),
    url('/Syriana-centro-rabe/assets/imagens/banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 70px;
    color: gold;
}

.hero-content h2 {
    font-size: 40px;
    color: #b30000;
}

.btn-principal {
    padding: 15px 35px;
    background-color: #5c0000;
    color: gold;
    border: 2px solid gold;
    text-decoration: none;
}

.section {
    padding: 120px 20px;
    text-align: center;
}

.titulo {
    color: gold;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.card {
    background-color: #120000;
    width: 280px;
    border: 1px solid gold;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.vinho {
    background-color: #1a0000;
}

.doceria-img {
    width: 400px;
    border: 2px solid gold;
}

footer {
    padding: 40px;
    border-top: 1px solid gold;
    text-align: center;
}
