*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#000;
color:#eee;
font-family:'Marcellus', serif;
}

nav{
position:fixed;
width:100%;
background:#0b0b0b;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
border-bottom:1px solid #8c6b1f;
z-index:1000;
}

.logo-area{
display:flex;
align-items:center;
gap:15px;
}

.logo-area img{
height:50px;
}

.logo-area span{
font-family:'Playfair Display', serif;
font-weight:800;
background:linear-gradient(90deg,#8c6b1f,#d4af37,#b8860b,#8c6b1f);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
letter-spacing:3px;
font-size:22px;
}

.menu a{
color:#ccc;
margin-left:25px;
text-decoration:none;
}

.btn-reserva{
padding:8px 20px;
border:1px solid #d4af37;
color:#d4af37;
}

.hero{
height:100vh;
background:url('/Syriana-centro-rabe/assets/imagens/banner.jpg') center/cover no-repeat;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
position:relative;
}

.hero::before{
content:"";
position:absolute;
inset:0;
background:rgba(0,0,0,0.75);
}

.hero-content{
position:relative;
z-index:2;
}

.hero h1{
font-family:'Playfair Display', serif;
font-size:70px;
background:linear-gradient(90deg,#8c6b1f,#d4af37,#b8860b);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.hero h2{
color:#d4af37;
font-size:38px;
margin:20px 0;
}

.section{
padding:120px 20px;
text-align:center;
}

.titulo{
font-family:'Playfair Display', serif;
font-size:42px;
margin-bottom:40px;
background:linear-gradient(90deg,#8c6b1f,#d4af37,#b8860b);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.cards{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:40px;
}

.card{
background:#111;
border:1px solid #8c6b1f;
width:300px;
transition:0.4s;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 0 25px rgba(212,175,55,0.6);
}

.card img{
width:100%;
height:220px;
object-fit:cover;
}

.card h3{
color:#d4af37;
margin:15px 0;
}

.descricao{
max-width:800px;
margin:auto;
line-height:1.8;
}

/* RESERVA */

.reserva-body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#000;
}

.reserva-container{
background:#111;
padding:50px;
width:400px;
border:1px solid #b8860b;
box-shadow:0 0 30px rgba(212,175,55,0.5);
}

.reserva-container h1{
font-family:'Playfair Display', serif;
text-align:center;
margin-bottom:20px;
background:linear-gradient(90deg,#8c6b1f,#d4af37,#b8860b);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.reserva-container p{
text-align:center;
margin-bottom:25px;
}

.reserva-container label{
display:block;
margin-top:15px;
margin-bottom:5px;
color:#d4af37;
}

.reserva-container input{
width:100%;
padding:10px;
background:#000;
border:1px solid #555;
color:white;
}

.reserva-container button{
margin-top:25px;
width:100%;
padding:12px;
background:linear-gradient(90deg,#8c6b1f,#d4af37,#b8860b);
border:none;
font-weight:bold;
cursor:pointer;
}
